<div class="container">
  <img src="/assets/images/angular.png" alt="Logo da Empresa">
  <form [formGroup]="formAuth" (ngSubmit)="submitForm()">
    <label>
      <img src="/assets/images/perfil.png" alt="">
      <input type="email" placeholder="E-mail" required formControlName="email">
    </label>
    <label>
      <img src="/assets/images/lock.png" alt="">
      <input type="password" placeholder="Senha" required formControlName="password">
    </label>

    <button class="btn-red" [disabled]="formAuth.invalid">
      Login
    </button>
  </form>

  <span class="msg-error" *ngIf="msgError">
   {{ msgError }}
  </span>
</div>
